<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TRPO_carshop.Properties.Settings.TRPO_carshopConnectionString"
            connectionString="Data Source=DESKTOP-SC0BMPC\SQLEXPRESS;Initial Catalog=TRPO_carshop;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>